@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="mt-4">
    <a asp-controller="Admin" asp-action="SearchUsers" class="btn btn-primary me-2">
        🔍 Cauta utilizatori
    </a>

    <a asp-controller="Admin" asp-action="AddMaterie" class="btn btn-success">
        ➕ Adauga materie
    </a>
</div>