
@{
	ViewData["Title"] = "About Us";
}

<h1 class="mb-4">@ViewData["Title"]</h1>



<h2 class="text-center mb-4">What is <span class ="text-success">cataLOG</span>?</h2>
<p class="mb-3">
	cataLOG is a web application designed to help manage school records
	in a simple and organized way. The platform allows teachers and
	administrators to keep track of students, classes, and grades.
</p>

<h3 class="text-center mb-4">What are the objectives?</h3>
<p class="mb-3">
	The goal of this application is to provide an easy-to-use digital
	catalog where academic information can be stored and accessed
	efficiently.
</p>

<h4 class="text-center mb-4">Details about implementation</h4>

<p class="mb-3">
	Framework : ASP.NET Core MVC <br>
	Backend Language : C# <br>
	Database : Microsoft SQL Server <br> 
	ORM : Entity Framework Core <br>
	Frontend : Razor Pages, Bootstrap 5, JavaScript <br>

	Source code is here : <a href="https://github.com/4lac1vica/Aplicatie-Catalog">project Github repository</a>.
</p>

