@{
	ViewData["Title"] = "Student Dashboard";
}

<h1 class="text-center mt-5">Student Dashboard</h1>

<p class="text-center">Here you can manage your account. </p>



<form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
	<button type="submit" class="btn btn-outline-danger">Logout</button>
</form>