@{
	ViewData["Title"] = "Student Dashboard";
}

<h1 class="text-center mt-5">Student Dashboard</h1>

<p class="text-center">Here you can manage your account.</p>


<a asp-controller="Account" asp-action="AccountProfile" class="btn btn-outline-primary">
	Details
</a>



<a asp-controller="Account" asp-action="DeleteAccount" class="btn btn-danger">
	Delete Account
</a>



<form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
	<button type="submit" class="btn btn-outline-danger">Logout</button>
</form>



<a asp-controller="Account" asp-action="EditProfile" class="btn btn-warning">
	Edit Profile
</a>


<a asp-controller="Grades" asp-action="MyGrades" class="btn btn-info">
	Vezi notele
</a>