@{
	ViewData["Title"] = "Teacher Dashboard";
}

<h1 class="text-center mt-5">Teacher Dashboard</h1>

<p class="text-center">Here you can manage your account. </p>

<div class="text-center mt-4">
	<form asp-controller="Account" asp-action="Logout" method="post">
		<button type="submit" class="btn btn-outline-danger">Logout</button>
	</form>
</div>