@model AplicatieCatalog.ViewModels.LoginViewModel

@{
	ViewData["Title"] = "Login";
}

@if (ViewBag.Error != null)
{
	<div class="alert alert-danger w-50 mx-auto">
		@ViewBag.Error
	</div>
}

@if (ViewBag.Success != null)
{
	<div class="alert alert-success w-50 mx-auto">
		@ViewBag.Success
	</div>
}

<h2 class="text-center mb-4">
	Login as <span class="text-success">@ViewBag.Role</span>
</h2>

<form asp-controller="Account" asp-action="Login" method="post" class="w-50 mx-auto">

	<input asp-for="Role" type="hidden" value="@ViewBag.Role" />

	<div class="mb-3">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Password"></label>
		<input asp-for="Password" type="password" class="form-control" />
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-success w-100">
		Login
	</button>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}